body{
    background-color: rgb(4, 28, 54);
    padding-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: azure;
}
div{
    text-align: center;
}

ul{
    margin: 10;
}

#main_menu{
    list-style: none;
    padding: 0;
    position: fixed;
    top: 10;
    z-index: 10;
}

#main_menu li{
    display: inline-block;
    text-align: center;
}

#main_menu li a{
    display: block;
    padding: 15px 155px;
    text-decoration: none;
    color: rgb(143, 215, 248);
    font-size: 20px;
}

#main_menu li a:hover{
    color: rgb(218, 233, 250);
}

.pos_fixed{
    animation: fadein 2s;
}

@keyframes fadein {
    0% {
        opacity:0;
    }
    50%{
        opacity:1;
    }
    100% {
        opacity:2;
    }
}

img{
    max-width: 30%;
    max-height: 30%;

}

.content{
    color: rgb(127, 200, 255)
}

h4{
    text-align: right;
    color: rgb(13, 47, 99);
    font-size: 15px;
}

h2{
    color: rgb(180, 217, 245);
}
